<div class="p-6 bg-white rounded-lg shadow-lg mt-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Seleccionar Columnas</h2>
    <p class="mb-6 text-gray-700">
        Elija la columna para relacionar los archivos y las columnas a unificar.
    </p>

    <div>
        <label class="block font-medium mb-2 text-gray-800">Columna de Relación:</label>
        <select [(ngModel)]="selectedRelationColumn" 
            class="block w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            @for (col of relationColumns; track $index) {
                <option [value]="col">{{ col }}</option>
            }
        </select>
    </div>

    <div class="mt-4 overflow-y-auto max-h-64 
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-300
    dark:[&::-webkit-scrollbar-track]:bg-gray-400
    dark:[&::-webkit-scrollbar-thumb]:bg-green-600">
        <label class="block font-medium mb-2 text-gray-800">Columnas a Unificar:</label>
        @for (col of availableColumns; track $index) {
            @if (selectedRelationColumn !== col) {
                <div class="flex items-center mb-2">
                    <div class="flex items-center mb-2 gap-2">
                        <label class="flex items-center cursor-pointer relative">
                            <input type="checkbox" [value]="col" (change)="onColumnSelect($event)" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-green-600 checked:border-green-600" id="check4" />
                            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                            </span>
                        </label>
                        <label>
                            {{ col }}
                        </label>
                    </div> 
                </div>
            }
        }
    </div>

    <button (click)="processFiles()" class="mt-6 flex items-center gap-2 px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600">
        <i class="fas fa-link"></i> Unificar
    </button>
</div>